@import '../../styles/variables';

.container {
  width: 400px;
  height: 400px;
  min-width: 400px;
  border-radius: 10px;
  background-color: #02203c;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-row-gap: 5px;
}
.node {
  &_row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    grid-row-gap: 5px;
    // justify-content: space-around;
  }
  // display: flex;
  // flex: 1;
  aspect-ratio: 1;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
  transition: all 1s;
  background: transparent;
  &_start {
    background-color: white !important;
    background-image: url('../../assets/start.svg');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-x: 15px;
  }
  &_end {
    background-color: white !important;
    background-image: url('../../assets/end.svg');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-x: 15px;
  }
  &_wall {
    background-color: black;
    background-image: url('../../assets/mine.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }
  &_path {
    background-color: #4d4dd0;
  }
  &_inner_circle {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    // width: 50%;
    // height: 50%;
    border-radius: 100%;
    background-color: #4d4dd0;
    animation: bg_background 1s linear 1;

    transition: all 1s;
  }
}
@keyframes bg_background {
  0% {
    background: transparent;
  }
  50% {
    width: 0%;
    height: 0%;
    background-color: transparent;
  }
  100% {
    width: 150%;
    height: 150%;
    background-color: #4d4dd0;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 500px) {
  .container {
    width: 320px;
    height: 320px;
    min-width: 320px;
  }
}
