@import '../../styles/variables.scss';

.contact {
  &_container {
    width: 100%;
    // height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
  }
  &_header {
    // width:50%;
    // position: relative;
    // background-color: red;
    display: flex;
    flex-direction: column;
    &_text {
      color: $bg_white !important;
      font-size: 3.5rem;
      font-family: 'Orbitron', sans-serif;
      line-height: 4rem;
      text-transform: capitalize;
    }
    & span {
      color: $tertiary_grey;
      &:first-child {
        display: flex;
        justify-content: start;
        margin-left: -2rem;
      }
      &:last-child {
        display: flex;
        justify-content: end;
        margin-right: -2rem;
      }
    }
  }
  &_links {
    &_container {
      width: 100%;
      height: calc(100vh - 400px);
      position: relative;
    }
    width: 200px;
    height: 200px;
    border: 1px solid $primary_green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: absolute;
    cursor: pointer;
    transition: all 1s;
    &:hover {
      transform: scale(1.2);
    }
  }
}

@media (max-width: 800px) {
  .contact {
    &_header_text {
      font-size: 2.5rem;
    }
    &_links {
      position: initial;
      &_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        height: auto;
      }
      &:first-child {
        margin-left: 6rem;
      }
      &:nth-child(2) {
        margin-right: 6rem;
      }
      &:nth-child(3) {
        margin-left: 6rem;
      }
      &:last-child {
        margin-right: 6rem;
      }
    }
  }
}
@media (max-width: 500px) {
  .contact {
    &_header_text {
      font-size: 1.8rem;
    }
  }
}
