$primary_black: #020203;
$primary_green: #02f74c;
$secondary_green: #1d5d33;
$bg_white: #f3f3f4;
$secondary_dark_green: #089729;
$tertiary_grey: #a6a9aa;
$tertiary_green: #19c84a;
$tertiary_green_fade: #76a988;
